.find {
  margin-bottom: 120px;
  background-image: url("../img/find-bg.png");
  background-repeat: no-repeat;
  background-size: 522px 695px;
  background-position: -170px 45px;

  @media (max-width: 991px) {
    margin-bottom: 90px;
  }

  @media (max-width: 756px) {
    margin-bottom: 60px;
  }

  @media (max-width: 567px) {
    margin-bottom: 40px;
  }

  .title {
    text-align: center;
    max-width: 424px;
    margin: 0 auto 24px;
  }

  .tagline {
    text-align: center;
    padding-top: 9px;
    padding-left: 0;

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__link {
    padding: 12px 16px;
    background-color: $green-500;
    border-radius: 32px;
    max-width: max-content;
    margin: 0 auto;
    color: $white;
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 756px) {
      margin-bottom: 30px;
    }

    @media (max-width: 567px) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }

  &__list {
    margin-right: 10px;

    @media (max-width: 991px) {
      order: 2;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 42px;

      @media (max-width: 756px) {
        margin-bottom: 32px;
      }

      @media (max-width: 567px) {
        margin-bottom: 22px;
      }
    }
  }
}

.article {
  max-width: 572px;

  @media (max-width: 567px) {
    max-width: 340px;
  }

  &__link {
    display: flex;
    column-gap: 32px;

    @media (max-width: 567px) {
      flex-direction: column;
      // align-items: center;
      row-gap: 20px;
    }
  }

  &__img {
    border-radius: 16px;
    object-fit: cover;

    @media (max-width: 567px) {
      width: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__top-img {
    margin-right: 16px;
    border-radius: 50%;
  }

  &__name {
    line-height: 22px;
    color: $neutral-700;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 16px;
    color: $headline;
    text-transform: capitalize;
  }

  &__text {
    margin-bottom: 16px;
    opacity: 0.75;
  }

  &__buttom {
    padding-left: 36px;
    color: $neutral-500;
    background-image: url("../img/icons/icons.svg#time");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }

  &--big {
    max-width: 560px;

    @media (max-width: 991px) {
      order: 1;
    }

    .article__link {
      display: block;
    }

    .article__img {
      margin-bottom: 24px;
    }

    .article__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.33;
      text-transform: capitalize;
      margin-bottom: 12px;
      color: $headline;
    }
  }
}
