.tour {
  position: relative;
  margin-bottom: 120px;

  @media (max-width: 991px) {
    margin-bottom: 90px;
  }

  @media (max-width: 756px) {
    margin-bottom: 60px;
  }

  @media (max-width: 567px) {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -120px;
    right: -10%;
    width: 553px;
    height: 560px;
    background-image: url("../img/tour-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 991px) {
      width: 453px;
      height: 460px;
    }

    @media (max-width: 756px) {
      width: 353px;
      height: 360px;
    }

    @media (max-width: 567px) {
      width: 253px;
      height: 260px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__content {
    @media (max-width: 567px) {
      width: 100%;
    }
  }

  .title {
    margin-bottom: 16px;
  }

  &__text {
    font-size: 16px;
    opacity: 0.75;
    margin-bottom: 16px;
    max-width: 413px;
  }

  &__detail {
    font-weight: 600;
    font-size: 16px;
    color: $headline;
    opacity: 0.75;
    margin-bottom: 16px;
  }

  &__list {
    max-width: 440px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 16px;
    column-gap: 53px;
    padding-bottom: 32px;
    border-bottom: 2px solid $neutral-100;
    margin-bottom: 32px;
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    padding: 6px 0 6px 48px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left center;

    &:nth-child(1) {
      background-image: url("../img/icons/icons.svg#bed");
    }

    &:nth-child(2) {
      background-image: url("../img/icons/icons.svg#bath");
    }

    &:nth-child(3) {
      background-image: url("../img/icons/icons.svg#car-garage");
    }

    &:nth-child(4) {
      background-image: url("../img/icons/icons.svg#stairs-with-handrail");
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 440px;
  }

  &__contact-photo {
    margin-right: 24px;
    border-radius: 50%;
  }

  &__contact-imfo {
    margin-right: auto;
  }

  &__contact-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: $neutral-900;
    margin-bottom: 4px;
  }

  &__contact-work {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $neutral-500;
  }

  &__link {
    display: flex;
    padding: 13px 16px 13px 56px;
    background-color: $green-500;
    color: $white;
    font-weight: 600;
    line-height: 1.57;
    border-radius: 32px;
    position: relative;
  }

  &__link-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 12px;
  }

  &__popup {
    position: relative;
    padding: 0 0 43px 40px;

    &::after {
      content: "";
      background-color: rgba($color: $dark, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: calc(0px + 40px);
      bottom: calc(0px + 43px);
      right: 0;
      z-index: 2;
      border-radius: 4px;

      @media (max-width: 567px) {
        left: 0;
        bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 21px);
      left: calc(50% + 20px);
      transform: translateX(-50%) translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: rgba($color: $white, $alpha: 0.5);
      filter: blur(0.5px);
      background-image: url("../img/popup/popup-play.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px 21px;
      z-index: 3;

      @media (max-width: 567px) {
        top: 50%;
        left: 50%;
      }
    }

    @media (max-width: 567px) {
      padding: 0;
    }
  }

  &__popup-bg {
    border-radius: 4px;
  }

  &__popup-list {
    display: flex;
    align-items: flex-end;
    column-gap: 12px;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;

    @media (max-width: 567px) {
      display: none;
    }
  }

  &__popup-img {
    border-radius: 4px;
    object-fit: cover;
  }
}
