.header {
  padding: 45px 0;
  position: fixed;
  z-index: 20;
  width: 100%;
  transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out;

  @media (max-width: 991px) {
    padding: 25px 0;
  }

  @media (max-width: 756px) {
    padding: 10px 0;
  }

  &--fixed {
    background-color: $neutral-500;
    padding: 10px 0;

    .header__drop-link {
      background-color: rgba($color: $white, $alpha: 0.1);
      border: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 56px;

    @media (max-width: 756px) {
      column-gap: 35px;
    }

    @media (max-width: 567px) {
      column-gap: 20px;
    }
  }

  &__logo {
    position: relative;
    z-index: 20;
    margin-right: auto;
  }

  &__menu {
    @media (max-width: 756px) {
      z-index: 10;
      position: absolute;
      border-radius: 0 0 0 10px;
      background-color: $green-500;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      min-width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      padding: 70px 15px 20px;
      transform: translateX(-200%);
      transition: transform 0.2s ease-in-out;

      &--active {
        transform: translateX(0);
      }
    }
  }

  &__list {
    display: flex;
    column-gap: 24px;

    @media (max-width: 756px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__item {
    &--drop {
      position: relative;

      &:hover {
        .header__drop {
          transform: translateY(0);
          opacity: 1;
          pointer-events: inherit;
        }

        .header__item-icon {
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }

  &__link {
    padding: 8px 16px;
    color: $neutral-100;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    background-color: rgba($color: $white, $alpha: 0.1);
    border: 1px solid rgba($color: $white, $alpha: 0.3);
    border-radius: 32px;
    display: inline-block;

    &--drop {
      padding: 8px 44px 8px 16px;
      position: relative;
    }

    @media (max-width: 756px) {
      font-size: 18px;
      width: 100%;
    }
  }

  &__item-icon {
    position: absolute;
    right: 8.5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__drop {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    padding-top: 15px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;

    @media (max-width: 756px) {
      top: 35px;
    }
  }

  &__drop-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__drop-link {
    padding: 8px 16px;
    display: inline-block;
    background-color: rgba($color: $white, $alpha: 0.1);
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: $neutral-100;
    border-radius: 32px;

    @media (max-width: 756px) {
      font-size: 18px;
    }
  }

  &__burger {
    display: none;
    position: relative;
    z-index: 20;

    @media (max-width: 756px) {
      display: block;
    }
  }

  &__reg {
    font-weight: 600;
    line-height: 1.57;
    padding: 12px 24px;
    color: $green-700;
    background-color: $grean-100;
    border-radius: 32px;

    @media (max-width: 567px) {
      padding: 6px 12px;
    }
  }
}
