$orang: #df6951;
$yellow-500: #f59e0b;

$blue-700: #1d4ed8;
$blue-100: #dbeafe;

$read-500: #ef4444;
$read-100: #fee2e2;

$green-700: #047857;
$green-500: #10b981;
$grean-100: #d1fae5;

$neutral-900: #0e1735;
$neutral-700: #3c4563;
$neutral-500: #888b97;
$neutral-300: #e0e3eb;
$neutral-100: #f0f3fd;

$headline: #1b1c57;
$subheadline: #68799f;
$smooth: #595cdb;

$body: #626687;
$dark: #000;
$white: #fff;
